#--------------------------------------------------------------------
# CONFIGURAÇÕES DE AMBIENTE (Exemplo local para o Docker)
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APLICAÇÃO
#--------------------------------------------------------------------

app.baseURL = 'http://localhost:8080/'

#--------------------------------------------------------------------
# BANCO DE DADOS (Credenciais alinhadas com o docker-compose)
#--------------------------------------------------------------------

database.default.hostname = postgres
database.default.database = entrevista
database.default.username = postgres
database.default.password = postgres
database.default.DBDriver = Postgre
database.default.port     = 5432
database.default.charset  = utf8